.block-editor__container .wp-block-acf-sfof-billtrack .acf-block-preview {
	background-image: url(../images/logo-color.svg);
	background-position: center;
	background-repeat: no-repeat;
	min-height: 200px;
}